/*Styles for my Resume*/



BODY {
  font-family: 'Open Sans', arial, sans-serif;
  color:#444;
  font-weight:400;
}

 /* Name at Top*/
#name {
  color: #33485e;
  font-size:3em;
  text-transform: uppercase;
  text-align:center;
  width: 60%;
  minimum width:300 px;
  margin: 0 auto;

}



 /* Section titles */
.sectionheader {
  font-size:1.5em;
  background:#33485e;
  color: #ffff;
  text-transform: uppercase;
  font-weight:400;
  width:70%;

}

 /* My Title */
#title {
  color:#33485e;
  text-transform: uppercase;
  text-align:center;
  font-weight:600;
  font-size:1.5em;
}

/* Job Title */
.jobtitle {
  font-weight: 600;
  font-size:1.5em;
}

/* Job Org */
.organization {
  font-weight: 400;
  font-size:1.25em;
}

/* Job Date */
H5 {
  font-weight: 400;
  font-style:italic;
  font-size:1em;
}

/* Contact info, skills, education items */
li {
  font-size:1em;
}
